<footer class="page-footer">
  <div class="container">
    <div class="footer-copyright">
      <div class="foot  ">© 2022 Copyright by SokhibjonDev &amp; sofiii</div>
    </div>
</footer>
</div>
<script src="/scripts/script.js"></script>