<div class="container">
    <div class="row">
        <div class="col-xl-12 asd">

            <div class="hero">
                <h1>КОМПЬЮТЕРНЫЙ КОРПУС MYPRO</h1>
                <p>Удобный, компактный, комфортный и легкий для использования и представляет собой универсальность как
                    использования для офиса так и для дома.</p>
                <button class="title-btn">ЗАКАЗАТЬ</button>
            </div>
            <div class="img"><img width="500px" src="https://mypro.uz/wp-content/uploads/2021/10/Mypro-SJ24-Premium.png"
                    alt=""></div>
        </div>
    </div>
</div>

<section class="rubik">
    <div class="container">
        <div class="row">

            <div class="col-xl-12">
                <h2 class="product-title">ПРОДУКЦИЯ</h2>

                <div class="cards">
                    <div class="col-xl-3">
                        <div class="cart">
                            <div class="images">
                                <img src="https://i.playground.ru/p/dkydx4UJIPp4BujP6r6ykw.jpeg" alt="">
                            </div>
                            <div class="info">
                                <h3>GeForce 2080</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim adipisci nihil, aliquam
                                    nam nesciunt libero provident alias eligendi inventore dolore dolores, officia
                                    delectus minus hic facilis omnis culpa facere vero sed aperiam!</p>
                                <img src="https://formining.ru/wp-content/uploads/2022/02/04lt2bhuyz9z35ra6lapama-1.fit_scale.size_2698x1517.v1591613569.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="cart">
                            <div class="images">
                                <img src="https://i.playground.ru/p/1LCcgEbuMjDt2NSwV-cLHg.jpeg" alt="">
                            </div>
                            <div class="info">
                                <h3>core i 9</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim adipisci nihil, aliquam
                                    nam nesciunt libero provident alias eligendi inventore dolore dolores, officia
                                    delectus minus hic facilis omnis culpa facere vero sed aperiam!</p>
                                <img height="170px"
                                    src="https://img1.akspic.ru/attachments/originals/2/9/1/6/4/146192-tovarnyj_znak-intel_core_i7-elektrik-intel-intel_core_i5-3840x2400.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="cart">
                            <div class="images">
                                <img height="198px"
                                    src="https://xchip.ru/wp-content/uploads/2020/04/luchshie-igrovye-materinskie-platy-intel-i-amd-2019-Z390-AORUS-Motherboard.jpg"
                                    alt="">
                            </div>
                            <div class="info">
                                <h3>Материнская плата</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim adipisci nihil, aliquam
                                    nam nesciunt libero provident alias eligendi inventore dolore dolores, officia
                                    delectus minus hic facilis omnis culpa facere vero sed aperiam!</p>
                                <img src="https://www.logodesignlove.com/wp-content/uploads/2012/08/microsoft-logo-02.jpeg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="cart">
                            <div class="images">
                                <img height="197px"
                                    src="https://gidcen.ru/wp-content/uploads/2019/07/Luchshie-processory-AMD.jpg"
                                    alt="">
                            </div>
                            <div class="info">
                                <h3>CPU</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim adipisci nihil, aliquam
                                    nam nesciunt libero provident alias eligendi inventore dolore dolores, officia
                                    delectus minus hic facilis omnis culpa facere vero sed aperiam!</p>
                                <img src="https://avatars.mds.yandex.net/get-zen_doc/29030/pub_5cdd6f36534bd800b810dbc2_5cdd791c1d586800b3879f26/scale_1200"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <h2 class="hlam">ПОДДЕРЖКА</h2>

        <div class="row">
            <div class="col-xl-12 d-flex" style="margin-bottom: 50px;">
                <div class="col-xl-4">
                    <iframe class="video" width="400" height="250px" src="https://www.youtube.com/embed/0UJSWgTrGLQ"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <h4 style="color: #fff;">name video</h4>
                </div>
                <div class="col-xl-4">
                    <iframe class="video" width="400" height="250px" src="https://www.youtube.com/embed/jw_mnwo9Nag"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <h4 style="color: #fff;">name video</h4>
                </div>
                <div class="col-xl-4">
                    <iframe class="video" width="400" height="250px" src="https://www.youtube.com/embed/utMV52k0quo"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <h4 style="color: #fff;">name video</h4>
                </div>
            </div>
            <div class="col-xl-12 d-flex">
                <div class="col-xl-4">
                    <iframe class="video" width="400" height="250px" src="https://www.youtube.com/embed/kBsNvGyfM8Y"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <h4 style="color: #fff;">name video</h4>
                </div>
                <div class="col-xl-4">
                    <iframe class="video" width="400" height="250px" src="https://www.youtube.com/embed/JI1_-CPFNIU"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <h4 style="color: #fff;">name video</h4>
                </div>
                <div class="col-xl-4">
                    <iframe class="video" width="400" height="250px" src="https://www.youtube.com/embed/acIFRSeMfXk"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <h4 style="color: #fff;">name video</h4>
                </div>
            </div>
        </div>
    </div>
</section>